@charset "UTF-8";



body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: rgb(40, 220, 20);
    background-color: black;

    
}

mark{

 color: cornflowerblue;


}
 
h1{
    color: aqua;

}

.logo{
    image-rendering: auto;
}
.cabecalho{
    display: grid;
    grid-template-columns: 125px 1fr
}




